BODY {margin:0px;border:0px}
TD {font-size:9pt;font-family:"ו,Verdana,Arial"}
TABLE.Menu {border-top:window 1px solid;border-left:window 1px solid;border-bottom:buttonshadow 1px solid;border-right:buttonshadow 1px solid;background-color:#0650D2}
TD.RightBg {background-color:buttonface}
TD.MouseOver {background-color:#0F5BDB;color:highlighttext;cursor:default;}
TD.MouseOut {background-color:#E5E5E5;color:buttontext;cursor:default;}
TD.HrShadow {background-color:buttonshadow;}
TD.HrHighLight {background-color:buttonhighlight;}