A { 	color:#000000; text-decoration:none; }
A:hover { 	color:#384780; TEXT-DECORATION: underline}
body 
{	font-size: 12px;	color: #000000;	font-family: ו;}
td{	Font-family:ו; Font-size: 12px; Line-height: 20px; Line-height: 150%;Table-layout:Fixed;Word-break:Break-all}